@use 'fonts';
@use 'sass:math';

header {
    width: inherit;
    min-height: 810px;
    background-image: url(/images/backgr-header.png);
    background-repeat: no-repeat;    
    display: grid;
    grid-template-rows: repeat(3, minmax(10px, 1fr));
    grid-template-columns: repeat(3, minmax(10px, 1fr));
}

.header-content-container {
    // max-width: math.div(372px, 1770px) * 100%;
    // width: 100%;
    // box-sizing: content-box;
    grid-row-start: 2;
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    align-items: center;    
    .container-logo-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo-main {
            @include fonts.logo;
        }

        .below-logo {
            @include fonts.below-logo;
            margin-top: 0.6em;
        }
    }
    
    .search-form {
        // max-width: math.div(656px, 1770px) * 100%;
        max-width: 653px;
        width: 100%;
        margin-top: 50px;
        display: flex;
        .search-field {
            // max-width: math.div(503px, 1770px) * 100%;
            max-width: 503px;
            width: 100%;
            &::placeholder {
                @include fonts.placeholder;               
            }
        }
    }
    
    .search-btn {
        width: 150px;
        height: 63px;
        @include fonts.search-btn;
        &:hover {
            background-color: rgb(3, 3, 105);
            transition: 0.3s ease-in-out;
            cursor: pointer;
        }

        &__txt {
            transform: translateX(40%);
        }
    }
}    

.container-scroll {
    grid-row-start: 3;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        @include fonts.scroll;
        text-decoration: none;
        &:hover {
            color: rgb(3, 3, 105);
            transition: 0.3s ease-in-out;
        }
    }    

    // .arrow-down:hover {
    //     fill: rgb(3, 3, 105);
    //     transition: 0.3s ease-in-out;
    //     cursor: pointer;
    // }
}

nav {
    height: 80px;
    background-color: #5474FD;
    display: flex;
    justify-content: space-around;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    align-self: end;
    .container-logo-nav {
        @include fonts.logo-nav;
        .logo-nav:hover {
            color: rgb(3, 3, 105);
            transition: 0.3s ease-in-out;
            cursor: pointer;
        }
    }
    
    .nav {  
        display: flex;
        align-self: center; 
        a {
            @include fonts.nav;
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        } 
        
        a:hover {
            color: rgb(3, 3, 105);
            transition: 0.3s ease-in-out;
        }
    }
}

@media screen and (max-width: 1350px) {
    .header-content-container {
        .search-form {
            .search-field::placeholder {
                font-size: 10px;
                letter-spacing: 0.5px;
            }
        }
    }
}

// @media screen and (max-width: 1000px) {
//     .search-form {
//         .search-field {
//             // width: 250px;
//             grid-column-start: 1.5;
//         }
//     }
// }

@media screen and (max-width: 600px) {
    .nav {
        overflow: hidden;
        background-color: #5474FD;
        a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;            
        }            
    }
}


