@use 'fonts';

.how-it-works {
    width: inherit;
    min-height: 340px;
    background-color: #333333;
    display: flex;
    align-items: center;
    // justify-content: ;
    .search-icon-large {
        border: 1px solid white;
    }
}