@use 'fonts';

@import 'header';
@import 'section-1';

body {
    background-color: black;
    max-width: 1770px;
    width: 100%;
    margin: auto;
    border-top: 15px solid #FFFFFF;
    border-left: 15px solid #FFFFFF;
    border-right: 15px solid #FFFFFF;
}
