@use 'fonts';

@import 'header';
@import 'section-1';
@import 'how-it-works';
@import 'section-2';
@import 'section-3';
@import 'section-4';
@import 'footer';

body {
    background-color: black;
    max-width: 1770px;
    width: 100%;
    margin: auto;   
    border: 15px solid #FFFFFF;
    box-sizing: border-box;
}
